html {
    background-color: #fdf1d3;
    text-align: left;
}

.wrapper {
    padding: 70px;
}

ul {
    padding :0;
}

li {
    display: inline;
    padding: 0px 10px 0px 0px ;
    margin: 0 20px;
    color: blue;
    text-decoration: none;
}
a {
    text-decoration: none;
}

a:hover {
    color: #ff9900;
}

a:visited{
    color: blue;
}