html {
    background-color: #fdf1d3;
    text-align: center;
}

ul {
    padding :auto;
}

li {
    display: inline;
    padding: 0px 10px 0px 0px ;
    color: blue;
    text-decoration: none;
}
a {
    text-decoration: none;
}

a:hover {
    color: #ff9900;
}