body {
    background-color: #fdf1d3;
    text-align: center;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 300px;
    margin: 20px 0px;
}

.grid-container {
    display: grid;
    grid-gap: 20px; 
    margin: 20px; 
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.grid-container h2 {
    text-align: center;
}

.nekretninaKuca, .nekretninaStan, .nekretninaPP {
    padding: 20px;
    text-align: left;
    width: 300px;
}

.nekretninaStan {
    background-color: white;
}

.nekretninaKuca {
    background-color: powderblue;
}

.nekretninaPP {
    background-color: green;
}

.podaci {
    margin-top: 10px;
}

.cijena {
    text-align: right;
}
button {
    margin-top: 20px;
    display: block;
    margin: 0 auto;
    width: 80px;
    font-style: none;
}

a {
    text-decoration: none;
    color: black;
}



