body {
    background-color: #fdf1d3;
    width: 100%;
}

input {
    height: 30px;
    width: 130px;
    border: none;
}

input::placeholder {
    color: #C0BFBF;
}

img {
    width: 20%;
}
.slika{
    margin: 50px 15px;
}

table {
    width: 100%;
}

td {
    padding: 10px ;
    text-align: left;
}

.desno {
    margin-right: 300px;
}

td.gore .lijevo, td.dolje .lijevo{
    text-align: left;
}

td.gore .desno, td.dolje .desno{
    text-align: left;
}


