body {
    background-color: #fdf1d3;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
   /* height: 100vh;*/
}

iframe {
    border: 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 50px 0px 0px 50px;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

button {
    padding: 10px;
    cursor: pointer;
}